@use "material-colors" as *;

#notr-board {
  aspect-ratio: 1409 / 1509;
  background-image: url(img/board.webp);
  background-repeat: no-repeat;
  background-size: contain;
  container-type: inline-size;
  margin: 0 auto;
  max-height: calc(100vh - 150px);
  position: relative;
}

.notr-player {
  aspect-ratio: 1;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: 250%;
  border-radius: 100%;
  border: 0.4cqw solid black;
  box-shadow: 0 0 1cqw black;
  position: absolute;
  translate: -50% -50%;
  transition: all 0.25s ease-out;
  width: 6%;
  z-index: 10;

  &.notr-player-me {
    z-index: 19;
  }

  &.notr-player-blue {
    background-image: url(img/novice-blue.webp);
    background-position: 42% 30%;
  }

  &.notr-player-green {
    background-image: url(img/novice-green.webp);
    background-position: 44% 29%;
  }

  &.notr-player-orange {
    background-image: url(img/novice-orange.webp);
    background-position: 58% 29%;
  }

  &.notr-player-purple {
    background-image: url(img/novice-purple.webp);
    background-position: 64% 30%;
  }

  &.notr-player-red {
    background-image: url(img/novice-red.webp);
    background-position: 44% 33%;
  }

  &.notr-player-yellow {
    background-image: url(img/novice-yellow.webp);
    background-position: 46% 34%;
  }

  &.notr-player-black {
    background-color: $color-grey-900;
    background-image: url(img/nun-black.webp);
    background-position: 57% 36%;
    border-color: black;
    z-index: 12;
  }

  &.notr-player-white {
    background-color: $color-grey-100;
    background-image: url(img/nun-white.webp);
    background-position: 53% 27%;
    border-color: white;
    z-index: 11;
  }

  &.notr-offset {
    translate: -75% -50%;
  }
}

.notr-player,
.notr-my {
  &.notr-player-blue {
    background-color: $color-light-blue-900;
    border-color: $color-light-blue-400;
    color: $color-light-blue-400;
  }
  &.notr-player-green {
    background-color: $color-green-900;
    border-color: $color-green-500;
    color: $color-green-500;
  }
  &.notr-player-orange {
    background-color: $color-orange-900;
    border-color: $color-orange-500;
    color: $color-orange-500;
  }
  &.notr-player-purple {
    background-color: $color-purple-900;
    border-color: $color-purple-400;
    color: $color-purple-400;
  }
  &.notr-player-red {
    background-color: $color-pink-900;
    border-color: $color-pink-400;
    color: $color-pink-400;
  }
  &.notr-player-yellow {
    background-color: $color-yellow-900;
    border-color: $color-yellow-600;
    color: $color-yellow-600;
  }
}

.notr-path {
  aspect-ratio: 1;
  border-radius: 100%;
  border: 0.5cqw solid currentColor;
  opacity: 0.8;
  position: absolute;
  transition: all 0.5s ease-out;
  translate: -50% -50%;
  width: 3.4%;
  z-index: 5;

  &.notr-path-zero {
    opacity: 0;
  }

  &.notr-path-blue {
    // background-color: $color-light-blue-400;
    color: $color-light-blue-800;
  }
  &.notr-path-green {
    // background-color: $color-light-green-500;
    color: $color-light-green-800;
  }
  &.notr-path-pink {
    // background-color: $color-pink-200;
    color: $color-pink-800;
  }
  &.notr-path-red {
    // background-color: $color-red-400;
    color: $color-red-800;
  }
  &.notr-path-yellow {
    // background-color: $color-yellow-600;
    color: $color-yellow-800;
  }
}

.notr-possible,
.notr-my {
  aspect-ratio: 1;
  background: white;
  border-radius: 100%;
  box-shadow:
    1px 1px 0 black,
    0 0 0.5cqw black;
  color: black;
  font-size: 2.4cqw;
  font-weight: bold;
  line-height: 3.4cqw;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px white;
  transition: opacity 0.25s ease-out;
  translate: -50% -50%;
  width: 3.4%;

  &:hover {
    opacity: 1%;
  }

  .notr-icon {
    height: 100%;
  }
}

.notr-possible {
  cursor: pointer;
  z-index: 20;

  &.notr-possible-stand {
    background: linear-gradient(315deg, $color-blue-200, $color-blue-500, $color-blue-200);
  }

  &.notr-possible-sneak {
    background: linear-gradient(315deg, $color-green-200, $color-green-500, $color-green-200);
  }

  &.notr-possible-walk {
    background: linear-gradient(315deg, $color-amber-200, $color-amber-500, $color-amber-200);
  }

  &.notr-possible-run {
    background: linear-gradient(315deg, $color-red-200, $color-red-500, $color-red-200);
  }

  &.notr-possible-abbess {
    background: linear-gradient(315deg, $color-grey-700, black, $color-grey-700);
    box-shadow:
      1px 1px 0 white,
      0 0 0.5cqw white;
    color: white;
    text-shadow: 0 1px black;
  }

  &.notr-possible-prioress {
    background: linear-gradient(315deg, $color-grey-400, white, $color-grey-400);
  }
}

.notr-my {
  background: black;
  border: 0.4cqw solid black;
  font-size: 3cqw;
  width: 4%;
  z-index: 9;
}

.notr-holder {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  font-size: 2.4cqw;
  justify-content: center;
  position: absolute;
  translate: -50% -50%;
  width: 7%;
  z-index: 15;

  .notr-tag {
    box-shadow:
      1px 1px 0 black,
      0 0 0.5cqw black;
  }

  .notr-tag-path {
    cursor: pointer;
  }
}

// rows/top
.notr-152,
.notr-153 {
  top: 3.1%;
}

.notr-154 {
  top: 5.1%;
}

.notr-143,
.notr-144,
.notr-145 {
  top: 5.8%;
}

.notr-155 {
  top: 6.4%;
}

.notr-151 {
  top: 8.4%;
}

.notr-149,
.notr-150 {
  top: 11.1%;
}

.notr-146,
.notr-147,
.notr-148 {
  top: 11.8%;
}

.notr-133,
.notr-134,
.notr-135 {
  top: 14.5%;
}

.notr-138,
.notr-139,
.notr-140,
.notr-141,
.notr-142 {
  top: 16.5%;
}

.notr-136,
.notr-137 {
  top: 19.1%;
}

.notr-132 {
  top: 21.1%;
}

.notr-123,
.notr-124,
.notr-125,
.notr-126,
.notr-127,
.notr-128 {
  top: 21.8%;
}

.notr-129,
.notr-130,
.notr-131 {
  top: 22.5%;
}

.notr-110,
.notr-118,
.notr-119,
.notr-120 {
  top: 27.8%;
}

.notr-121,
.notr-122 {
  top: 28.5%;
}

.notr-111,
.notr-112,
.notr-113,
.notr-114,
.notr-115,
.notr-116,
.notr-117 {
  top: 30.5%;
}

.notr-109 {
  top: 35.1%;
}

.notr-100,
.notr-101 {
  top: 35.4%;
}

.notr-97,
.notr-98,
.notr-99,
.notr-102,
.notr-103,
.notr-104,
.notr-105,
.notr-106,
.notr-107 {
  top: 35.8%;
}

.notr-108 {
  top: 36.5%;
}

.notr-84,
.notr-85,
.notr-86,
.notr-90,
.notr-91,
.notr-92,
.notr-93,
.notr-94,
.notr-95,
.notr-96 {
  top: 41.9%;
}

.notr-84 {
  top: 42.3%;
}

.notr-87,
.notr-88,
.notr-89 {
  top: 45.9%;
}

.notr-74,
.notr-75 {
  top: 47.2%;
}

.notr-71,
.notr-72,
.notr-73 {
  top: 49.2%;
}

.notr-83 {
  top: 49.9%;
}

.notr-64,
.notr-65 {
  top: 53.5%;
}

.notr-76,
.notr-77,
.notr-78,
.notr-79,
.notr-80,
.notr-81,
.notr-82 {
  top: 53.9%;
}

.notr-67,
.notr-68,
.notr-69,
.notr-70 {
  top: 56.5%;
}

.notr-56 {
  top: 58.6%;
}

.notr-63,
.notr-66 {
  top: 59.6%;
}

.notr-57,
.notr-58,
.notr-59,
.notr-60,
.notr-61,
.notr-62 {
  top: 60.6%;
}

.notr-44,
.notr-45,
.notr-46 {
  top: 63.9%;
}

.notr-47,
.notr-48,
.notr-49,
.notr-50,
.notr-51,
.notr-52,
.notr-53,
.notr-54,
.notr-55 {
  top: 65.9%;
}

.notr-36,
.notr-37,
.notr-38,
.notr-39,
.notr-40,
.notr-41,
.notr-42,
.notr-43 {
  top: 71.3%;
}

.notr-33,
.notr-34 {
  top: 71.9%;
}

.notr-35 {
  top: 72.8%;
}

.notr-28 {
  top: 78.6%;
}
.notr-23,
.notr-24,
.notr-25,
.notr-26,
.notr-27 {
  top: 79.3%;
}

.notr-29,
.notr-30,
.notr-31,
.notr-32 {
  top: 79.9%;
}

.notr-11,
.notr-12,
.notr-13,
.notr-14,
.notr-15,
.notr-16,
.notr-17,
.notr-18,
.notr-19,
.notr-20,
.notr-21,
.notr-22 {
  top: 87.3%;
}

.notr-1,
.notr-2,
.notr-3,
.notr-4,
.notr-5,
.notr-6,
.notr-7,
.notr-8,
.notr-9,
.notr-10 {
  top: 93.3%;
}

// columns/left

.notr-33,
.notr-55,
.notr-56,
.notr-83,
.notr-84,
.notr-109 {
  left: 5.1%;
}

.notr-110 {
  left: 6.4%;
}

.notr-10,
.notr-11,
.notr-32 {
  left: 7.2%;
}

.notr-132 {
  left: 10%;
}

.notr-57,
.notr-82 {
  left: 14.3%;
}

.notr-9,
.notr-12,
.notr-31,
.notr-34,
.notr-54,
.notr-85,
.notr-108,
.notr-111 {
  left: 15%;
}

.notr-133 {
  left: 15.7%;
}

.notr-81 {
  left: 19.5%;
}

.notr-151 {
  left: 20.8%;
}

.notr-8,
.notr-13,
.notr-53,
.notr-58,
.notr-80,
.notr-86,
.notr-112 {
  left: 23.6%;
}

.notr-107 {
  left: 21.7%;
}

.notr-52,
.notr-59,
.notr-79,
.notr-87,
.notr-106,
.notr-113,
.notr-131,
.notr-134 {
  left: 30.1%;
}

.notr-7,
.notr-14 {
  left: 31.5%;
}

.notr-152 {
  left: 33.6%;
}

.notr-15,
.notr-30,
.notr-35,
.notr-51,
.notr-60,
.notr-78,
.notr-88,
.notr-105,
.notr-114,
.notr-130,
.notr-150 {
  left: 36.5%;
}

.notr-6,
.notr-16 {
  left: 42.2%;
}

.notr-29,
.notr-36,
.notr-50,
.notr-61,
.notr-77,
.notr-89,
.notr-104,
.notr-115,
.notr-129,
.notr-135 {
  left: 43%;
}

.notr-153 {
  left: 45.1%;
}

.notr-149 {
  left: 49.4%;
}

.notr-116 {
  left: 50.8%;
}

.notr-103 {
  left: 51.5%;
}

.notr-136,
.notr-154 {
  left: 52.2%;
}

.notr-5,
.notr-17 {
  left: 52.3%;
}

.notr-37,
.notr-49,
.notr-62,
.notr-76,
.notr-90 {
  left: 49.4%;
}

.notr-28,
.notr-38 {
  left: 53%;
}

.notr-48,
.notr-75 {
  left: 55.1%;
}

.notr-91,
.notr-102,
.notr-117,
.notr-128,
.notr-137,
.notr-148,
.notr-155 {
  left: 58%;
}

.notr-63,
.notr-64 {
  left: 61.9%;
}

.notr-4,
.notr-18,
.notr-27,
.notr-39 {
  left: 62.3%;
}

.notr-92,
.notr-101,
.notr-118 {
  left: 65.2%;
}

.notr-127,
.notr-138,
.notr-147 {
  left: 65.8%;
}

.notr-65,
.notr-66 {
  left: 68.4%;
}

.notr-3,
.notr-19,
.notr-26,
.notr-40 {
  left: 71.6%;
}

.notr-93,
.notr-100,
.notr-119,
.notr-126,
.notr-139,
.notr-145,
.notr-146 {
  left: 73.7%;
}

.notr-47,
.notr-74 {
  left: 75.2%;
}

.notr-67 {
  left: 75.9%;
}

.notr-2,
.notr-20 {
  left: 80.2%;
}

.notr-41,
.notr-46,
.notr-68,
.notr-73,
.notr-94,
.notr-99,
.notr-120,
.notr-125,
.notr-140 {
  left: 80.9%;
}

.notr-25 {
  left: 81.9%;
}

.notr-144 {
  left: 83.7%;
}

.notr-24,
.notr-42,
.notr-45,
.notr-69 {
  left: 86.7%;
}

.notr-95,
.notr-98,
.notr-121,
.notr-124,
.notr-141 {
  left: 87.4%;
}

.notr-72 {
  left: 88.1%;
}

.notr-1,
.notr-21 {
  left: 89.5%;
}

.notr-22,
.notr-23,
.notr-43,
.notr-44,
.notr-70,
.notr-71,
.notr-96,
.notr-97,
.notr-122,
.notr-123,
.notr-142,
.notr-143 {
  left: 93.8%;
}
