@use "material-colors" as *;

.notr-icon {
  -webkit-mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 1em;
  mask-image: var(--svg);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  vertical-align: middle;
  width: 1em;

  &.notr-icon-appear {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M15.188 14.688Q16.5 13.375 16.5 11.5t-1.312-3.187T12 7T8.813 8.313T7.5 11.5t1.313 3.188T12 16t3.188-1.312m-5.1-1.276Q9.3 12.625 9.3 11.5t.788-1.912T12 8.8t1.913.788t.787 1.912t-.787 1.913T12 14.2t-1.912-.787m-4.738 3.55Q2.35 14.925 1 11.5q1.35-3.425 4.35-5.462T12 4t6.65 2.038T23 11.5q-1.35 3.425-4.35 5.463T12 19t-6.65-2.037'/%3E%3C/svg%3E");
  }

  &.notr-icon-footprint {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M6.5 1q2.125 0 3.313 1.888T11 7q0 1.025-.213 1.95T10.3 10.6l-7.125 1.425Q2.8 11.3 2.4 10.013T2 7q0-2.575 1.275-4.288T6.5 1m1.375 17Q6.1 18 5.113 16.763T4 13.9l6.45-1.3q.2.425.375.963T11 14.675q0 1.425-.888 2.375T7.876 18M17.5 6q1.95 0 3.225 1.713T22 12q0 1.725-.4 3.013t-.775 2.012L13.7 15.6q-.275-.725-.487-1.65T13 12q0-2.225 1.188-4.112T17.5 6m-1.375 17q-1.35 0-2.238-.95T13 19.675q0-.575.175-1.112t.375-.963l6.425 1.3q-.125 1.625-1.1 2.863T16.125 23'/%3E%3C/svg%3E");
  }

  &.notr-icon-noise {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M6 22q1.55 0 2.538-.775t1.512-2.275q.425-1.25.813-1.75t1.787-1.6q1.55-1.25 2.45-2.825T16 9q0-2.975-2.013-4.987T9 2T4.012 4.013T2 9h2q0-2.125 1.438-3.562T9 4t3.563 1.438T14 9q0 1.7-.675 2.9T11.4 14.05q-1.3.95-2.025 1.85T8.3 17.85q-.35 1.1-.838 1.625T6 20q-.825 0-1.412-.587T4 18H2q0 1.65 1.175 2.825T6 22m4.775-11.237Q11.5 10.025 11.5 9q0-1.05-.725-1.775T9 6.5t-1.775.725T6.5 9q0 1.025.725 1.763T9 11.5t1.775-.737m7.725 3.762l-1.475-1.475q.475-.925.725-1.937T18 9t-.25-2.1t-.725-1.925L18.5 3.5q.725 1.225 1.113 2.613T20 9q0 1.525-.387 2.913T18.5 14.525m2.925 2.9l-1.475-1.45q.975-1.5 1.513-3.25T22 9.05q0-1.95-.537-3.713t-1.538-3.262l1.5-1.5q1.225 1.8 1.9 3.938T24 9t-.675 4.488t-1.9 3.937'/%3E%3C/svg%3E");
  }

  &.notr-icon-path {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M6.175 19.825Q5 18.65 5 17V8.825Q4.125 8.5 3.563 7.738T3 6q0-1.25.875-2.125T6 3t2.125.875T9 6q0 .975-.562 1.738T7 8.825V17q0 .825.588 1.413T9 19t1.413-.587T11 17V7q0-1.65 1.175-2.825T15 3t2.825 1.175T19 7v8.175q.875.325 1.438 1.088T21 18q0 1.25-.875 2.125T18 21t-2.125-.875T15 18q0-.975.563-1.75T17 15.175V7q0-.825-.587-1.412T15 5t-1.412.588T13 7v10q0 1.65-1.175 2.825T9 21t-2.825-1.175'/%3E%3C/svg%3E");
  }

  &.notr-icon-vanish {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m19.8 22.6l-4.2-4.15q-.875.275-1.762.413T12 19q-3.775 0-6.725-2.087T1 11.5q.525-1.325 1.325-2.463T4.15 7L1.4 4.2l1.4-1.4l18.4 18.4zM12 16q.275 0 .513-.025t.512-.1l-5.4-5.4q-.075.275-.1.513T7.5 11.5q0 1.875 1.313 3.188T12 16m7.3.45l-3.175-3.15q.175-.425.275-.862t.1-.938q0-1.875-1.312-3.187T12 7q-.5 0-.937.1t-.863.3L7.65 4.85q1.025-.425 2.1-.637T12 4q3.775 0 6.725 2.088T23 11.5q-.575 1.475-1.513 2.738T19.3 16.45m-4.625-4.6l-3-3q.7-.125 1.288.113t1.012.687t.613 1.038t.087 1.162'/%3E%3C/svg%3E");
  }
}

.notr-path,
.notr-noise {
  background: white;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  padding: 0 3px;
  text-align: center;
  white-space: nowrap;

  &.notr-blue {
    background: $color-light-blue-500;
  }
  &.notr-green {
    background: $color-light-green-500;
  }
  &.notr-orange {
    background: $color-orange-500;
  }
  &.notr-purple {
    background: $color-purple-500;
  }
  &.notr-red {
    background: $color-pink-500;
  }
  &.notr-yellow {
    background: $color-yellow-500;
  }
}
